<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Select Input</title>

        <!-- Uncomment this for ESP32-side web pages... -->
        <style>[[STYLES]]</style>

        <!-- ... or uncomment this for debugging. Never, ever both! -->
        <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>
    <body>
        <h1>Select Input</h1>
        <p>
            <table id="inputs">
                <tr>
                    <td><input type="button" class="buttonInput" id="input0" onclick="location.href='/input0';" value="[[INPUTNAME0]]"></td>
                    <td><input type="button" class="buttonInput" id="input1" onclick="location.href='/input1';" value="[[INPUTNAME1]]"></td>
                </tr>
                <tr>
                    <td><input type="button" class="buttonInput" id="input2" onclick="location.href='/input2';" value="[[INPUTNAME2]]"></td>
                    <td><input type="button" class="buttonInput" id="input3" onclick="location.href='/input3';" value="[[INPUTNAME3]]"></td>
                </tr>
                <tr>
                    <td><input type="button" class="buttonInput" id="input4" onclick="location.href='/input4';" value="[[INPUTNAME4]]"></td>
                    <td><input type="button" class="buttonInput" id="input5" onclick="location.href='/input5';" value="[[INPUTNAME5]]"></td>
                </tr>
                <tr>
                    <td><input type="button" class="buttonInput" id="input6" onclick="location.href='/input6';" value="[[INPUTNAME6]]"></td>
                    <td><input type="button" class="buttonInput" id="input7" onclick="location.href='/input7';" value="[[INPUTNAME7]]"></td>
                </tr>
            </table>
        </p>
        <p>
            <input type="button" class="buttonNavigation" id="config" onclick="location.href='/config';" value="Config">
        </p>
    </body>
</html>
