body {
    background-color: dimgrey;
}

h1 {
    font-size: 60;
    font-family: trebuchet ms;
    text-align: center;
    color: black;
}

p {
    font-size: 30;
    font-family: trebuchet ms;
    text-align: center;
    color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

.button {
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    display: inline-block;
    font-family: trebuchet ms;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.4s;
    padding: 50px;
}